<%= nested_form_for(@division, validate: true) do |f| %>

  <div class="row">
  <div class="col-md-2">
    <%= f.collection_select(:department_id, Department.all, :id, :name, include_blank: true) %>
  </div>
    <div class="col-md-2">
      <%= f.text_field :name, validate: { presence: true, uniqueness: false }, placeholder: "Division Name" %>
    </div>
    <div class="col-md-2">
      <%= f.collection_select(:employee_id, Employee.all, :id, :name, {include_blank: true}, {class: 'ComboEmployee'}) %></div>
  </div>
  <br><br>
  <%= f.fields_for :areas do |item_form_fields| %>
  <div class="row">
    <div class="col-md-2">
      <%= item_form_fields.collection_select(:employee_id, Employee.all, :id, :name, include_blank: true) %>
    </div>
    <div class="col-md-2">
      <%= item_form_fields.text_field :name, validate: { presence: true, uniqueness: false }, placeholder: "Area Name" %>
    </div>
    <div class="col-md-4">
      <%= item_form_fields.link_to_remove "DELETE", :class => "btn btn-danger btn-sm"%>
    </div>
  </div>
    <% end %>
    <div>
      <%= f.link_to_add "ADD", :areas, :class => "btn btn-primary btn-lg", :method => :get %>
      <%= f.submit 'SAVE', :class => "btn btn-success btn-lg", :method => :get %>
    </div>
<% end %>
