<%= nested_form_for(@twh, url: bulk_insert_twh_pics_path, method: :POST) do |f| %>
  <div class="row">
    <div class="col-md-3">
      <%= f.text_field :area_id, disabled: true %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :pic_date, disabled: true %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :wh, disabled: true %>
    </div>
  </div>
  <br>

  <% @twh.pics.each do |pic| %>
    <% if pic.new_record? %>
        <%= f.fields_for :pics, pic do |pic_form_fields| %>
        <div class="row">
          <div class="col-md-2">
            <%= pic_form_fields.select(:part_id, [], {}, { :class => 'ComboPart' }) %>
            <%#= pic_form_fields.collection_select :part_id, Part.all, :id, :number, { include_blank: true }, { :class => "ComboPart" } %>
          </div>
          <div class="col-md-2">
            <%= pic_form_fields.text_field :qty, placeholder: "QTY" %>
          </div>
          <div class="col-md-4">
            <%= pic_form_fields.link_to_remove "DESTROY", :class => "btn btn-danger btn-sm"%>
          </div>
        </div>
        <% end %>
    <% end %>
  <% end %>

  <div>
    <%= f.link_to_add "ADD", :pics, :class => "btn btn-primary btn-lg", :method => :get %>
    <%= f.submit 'SAVE', :class => "btn btn-success btn-lg", :method => :get %>
  </div>
<% end %>
