<p id="notice"><%= notice %></p>

<p>
  <strong>Area:</strong>
  <%= @twh.area_id %>
</p>

<p>
  <strong>Pic date:</strong>
  <%= @twh.pic_date %>
</p>

<p>
  <strong>Wh:</strong>
  <%= @twh.wh %>
</p>

<%= link_to 'Edit', edit_twh_path(@twh) %> |
<%= link_to 'Back', twhs_path %>
