<%= nested_form_for(@item, validate: true) do |f| %>
  <div class="form-input">
    <%= f.text_field :name, validate: { presence: true, uniqueness: false }, placeholder: "ITEM" %>
  </div>
<br>
  <%= f.fields_for :parts do |part_form_fields| %>
  <div class="row">
    <div class="col-md-2">
      <%= part_form_fields.text_field :number, validate: { presence: true, uniqueness: false }, placeholder: "Number" %>
    </div>
    <div class="col-md-2">
      <%= part_form_fields.text_field :name, validate: { presence: true, uniqueness: false }, placeholder: "Name" %>
    </div>
    <div class="col-md-2">
      <%= part_form_fields.text_field :norms, validate: { presence: true, uniqueness: false }, placeholder: "Norms" %>
    </div>
    <div class="col-md-4">
      <%= part_form_fields.link_to_remove "DESTROY", :class => "btn btn-danger btn-sm"%>
    </div>
  </div>
  <% end %>
  <div>
    <%= f.link_to_add "ADD", :parts, :class => "btn btn-primary btn-lg", :method => :get %>
    <%= f.submit 'SAVE', :class => "btn btn-success btn-lg", :method => :get %>
  </div>
<% end %>
