<!DOCTYPE html>
<html>
<head>
<title>FURNILAC PRIMAGUNA, PT.</title>
<link href="stylesheets/jquery-ui.css.erb" rel="stylesheet" type="text/css">
</head>
<body>
<h3><center><b>LAPORAN PRODUKTIVITAS PRODUKSI PEOPLE </b></center></h3>
<center>
  <table width="600px">
    <tr>
      <td><b>Periode : <%= params[:start_date] %> s/d <%= params[:end_date] %></b></td>
    </tr>
    <tr>


    </tr>
</table>
<br>
<!-- <p>Show With Range Date -->
<center><table border="1"  width="600px">
        <th  width="80px"><b><center>Area</center></th>
        <th width="200px"><center><b>PIC</th>
        <th><b><center>EH</th>
        <th><b><center>WH</th>
        <th><b><center>P</th>

    <tr>
      <tbody>
      <% @data_report_people_area.each do |pic| %>
        <tr>
          <td><%= pic.area %></td>
          <td><%= pic.pic %></td>
          <td><%= pic.eh.round(2) %></td>
          <td><%= pic.wh %></td>
          <td><%= pic.nilai_p.round(0) %>%</td>
        </tr>
      <% end %>
      </tbody>
    </tr>
</table>
<br><br><br>
<center><table border="1"  width="600px">
        <th  width="200px"><b><center>Division</center></th>
        <th width="200px"><center><b>PIC</th>
        <th><b><center>EH</th>
        <th><b><center>WH</th>
        <th><b><center>P</th>

    <tr>
      <tbody>
      <% @data_report_people_division.each do |pic| %>
        <tr>
          <td><b><%= pic.division_name %></b></td>
          <td><b><%= pic.pic %></b></td>
          <td><b><%= pic.eh.round(2) %></b></td>
          <td><b><%= pic.wh %></b></td>
          <td><b><%= pic.nilai_p.round(0) %>%</b></td>
        </tr>
      <% end %>
      </tbody>
    </tr>
</table>
<br><br><br>
<script type="text/javascript">
  $( "#start" ).datepicker({
    dateFormat: 'dd-mm-yy',
    inline: true
  });
</script>

<script type="text/javascript">
  $( "#end" ).datepicker({
    dateFormat: 'dd-mm-yy',
    inline: true
  });
</script>
</body>
</html>
